In [12]:
import warnings
warnings.filterwarnings('ignore')
import inspect
import logging
import os

import pandas as pd

from csrank.util import setup_logging
from experiments.util import lp_metric_dict
import numpy as np
from experiments.dbconnection import DBConnector

In [23]:
DIR_PATH = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
log_path = os.path.join(DIR_PATH, 'logs', 'results.log')
setup_logging(log_path=log_path)
logger = logging.getLogger('ResultParsing')
config_file_path = os.path.join(DIR_PATH, 'config', 'clusterdb.json')
datasets = ['synthetic_dc', 'mnist_dc', 'tag_genome_dc', "letor_dc", "sushi_dc"]
DATASET = datasets[4]
learning_problem = "discrete_choice"
results_table = 'results.{}'.format(learning_problem)
schema = 'masterthesis'
start=3
select_jobs = "SELECT learner_params, dataset_params, hp_ranges, {0}.job_id, dataset, learner, {3} from {0} INNER JOIN {1} ON {0}.job_id = {1}.job_id where {1}.dataset=\'{2}\'"

In [24]:
self = DBConnector(config_file_path=config_file_path, is_gpu=False, schema=schema)

In [25]:
update_result = "UPDATE results.discrete_choice set cluster_id = %s, CategoricalAccuracy = %s, CategoricalTopK2 = %s, CategoricalTopK3 = %s, CategoricalTopK4 = %s, CategoricalTopK5 = %s, CategoricalTopK6 = %s  where job_id= %s"
values = (6636228, 0.4343, 0.6603, 0.8295, 0.9504, 1.0000, 1.0000,479)
self.init_connection()
self.cursor_db.execute(update_result, tuple(values))
self.close_connection()

In [26]:
def get_letor_string(dp):
    y =  str(dp['year']) 
    n = str(dp['n_objects'])
    return "y_{}_n_{}".format(y,n)

In [27]:
keys = list(lp_metric_dict[learning_problem].keys())
keys[-1] = keys[-1].format(6)
metrics = ', '.join([x for x in keys])
metrics

'CategoricalAccuracy, CategoricalTopK2, CategoricalTopK3, CategoricalTopK4, CategoricalTopK5, CategoricalTopK6'

In [28]:
self.init_connection()
avail_jobs = "{}.avail_jobs".format(self.schema)
select_st = select_jobs.format(results_table, avail_jobs, DATASET, metrics)
print(select_st)
self.cursor_db.execute(select_st)
data = []
for job in self.cursor_db.fetchall():
    job = dict(job)
    n_hidden = job['hp_ranges'][job['learner']].get("n_hidden", [])
    if job['hp_ranges'][job['learner']].get("n_hidden_set_layers", None)==[1,8]:
        job['learner'] = job['learner']+'_shallow'
    elif n_hidden==[1,4] or n_hidden==[1,5]:
        job['learner'] = job['learner']+'_shallow'
        
    if job['learner_params'].get("add_zeroth_order_model", False):
        job['learner'] = job['learner']+'_zero'
    if "letor" in job['dataset']:
        job['dataset'] = get_letor_string(job['dataset_params'])
    elif "sushi" in job['dataset']:
        job['dataset'] =  job['dataset']
    else:
        job['dataset'] = job['dataset_params']['dataset_type']
    job['learner'] = job['learner'].upper()
    job['dataset'] = job['dataset'].upper()
    values = list(job.values())
    keys = list(job.keys())
    columns = keys[start:]
    vals = values[start:]
    data.append(vals)

SELECT learner_params, dataset_params, hp_ranges, results.discrete_choice.job_id, dataset, learner, CategoricalAccuracy, CategoricalTopK2, CategoricalTopK3, CategoricalTopK4, CategoricalTopK5, CategoricalTopK6 from results.discrete_choice INNER JOIN masterthesis.avail_jobs ON results.discrete_choice.job_id = masterthesis.avail_jobs.job_id where masterthesis.avail_jobs.dataset='sushi_dc'

In [29]:
self.init_connection()
avail_jobs = "{}.avail_jobs".format("pymc3")
select_st = select_jobs.format(results_table, avail_jobs, DATASET, metrics)
print(select_st)
self.cursor_db.execute(select_st)
for job in self.cursor_db.fetchall():
    job = dict(job)
    if "letor" in job['dataset']:
        job['dataset'] = get_letor_string(job['dataset_params'])
    elif "sushi" in job['dataset']:
        job['dataset'] =  job['dataset']
    else:
        job['dataset'] = job['dataset_params']['dataset_type']
    job['learner'] = job['learner'].upper()
    job['dataset'] = job['dataset'].upper()
    values = list(job.values())
    keys = list(job.keys())
    columns = keys[start:]
    vals = values[start:]
    data.append(vals)
df_full = pd.DataFrame(data, columns=columns)

SELECT learner_params, dataset_params, hp_ranges, results.discrete_choice.job_id, dataset, learner, CategoricalAccuracy, CategoricalTopK2, CategoricalTopK3, CategoricalTopK4, CategoricalTopK5, CategoricalTopK6 from results.discrete_choice INNER JOIN pymc3.avail_jobs ON results.discrete_choice.job_id = pymc3.avail_jobs.job_id where pymc3.avail_jobs.dataset='sushi_dc'

In [30]:
df_full = df_full.sort_values('dataset')
#df_full['zeroonerankaccuracy'] = 1 - df_full['zeroonerankloss']
df_full.loc[df_full['learner'] == 'FETA_DC_SHALLOW_ZERO']
#df_full.head()

,job_id,dataset,learner,categoricalaccuracy,categoricaltopk2,categoricaltopk3,categoricaltopk4,categoricaltopk5,categoricaltopk6
24,540,SUSHI_DC,FETA_DC_SHALLOW_ZERO,0.1190,0.2150,0.3125,0.417,0.5135,0.6030
23,413,SUSHI_DC,FETA_DC_SHALLOW_ZERO,0.2680,0.3345,0.4485,0.568,0.6355,0.7190
6,538,SUSHI_DC,FETA_DC_SHALLOW_ZERO,0.1285,0.2595,0.4980,0.578,0.6920,0.7920
7,541,SUSHI_DC,FETA_DC_SHALLOW_ZERO,0.1935,0.3790,0.5200,0.587,0.6990,0.8060
12,539,SUSHI_DC,FETA_DC_SHALLOW_ZERO,0.0790,0.1785,0.3995,0.540,0.6575,0.7715

In [31]:
del df_full["job_id"]
grouped = df_full.groupby(['dataset', 'learner'])
data = []
for name, group in grouped:
    one_row = [name[0], str(name[1]).upper()]
    #latex_row = ["$ {}".format(name[0]), "$ {}".format(str(name[1]).upper())]
    std = group.std(axis=0).values
    mean = group.mean(axis=0).values
    if np.all(np.isnan(std)):
        one_row.extend(["{:.4f}".format(m) for m in mean])
        #latex_row.extend(["${:.3f}$".format(m) for m in mean]) 
    else:
        std = [s*1e3 for s in std]
        one_row.extend(["{:.3f}({:.0f})".format(m, s) for m, s in zip(mean, std)])
        #latex_row.extend(["$ {:.3f} \pm {:.3f} ".format(m, s) for m, s in zip(mean, std)])
    data.append(one_row)

In [32]:
df = pd.DataFrame(data, columns=columns[1:])
df.sort_values(by='dataset')
df_path = os.path.join(DIR_PATH, 'results' , DATASET+'.csv')
df.to_csv(df_path)
df

,dataset,learner,categoricalaccuracy,categoricaltopk2,categoricaltopk3,categoricaltopk4,categoricaltopk5,categoricaltopk6
0,SUSHI_DC,FATE_DC,0.292(21),0.414(18),0.559(78),0.647(45),0.730(35),0.808(11)
1,SUSHI_DC,FETA_DC_SHALLOW,0.292(7),0.401(23),0.507(26),0.602(40),0.687(32),0.769(35)
2,SUSHI_DC,FETA_DC_SHALLOW_ZERO,0.158(74),0.273(83),0.436(83),0.538(70),0.639(75),0.738(83)
3,SUSHI_DC,GENERALIZED_EXTREME_VALUE,0.218(62),0.366(71),0.502(18),0.608(23),0.685(22),0.754(34)
4,SUSHI_DC,MIXED_LOGIT_MODEL,0.262(7),0.387(8),0.465(14),0.566(13),0.624(10),0.724(14)
5,SUSHI_DC,MULTINOMIAL_LOGIT_MODEL,0.271(6),0.387(5),0.502(2),0.581(18),0.676(11),0.786(7)
6,SUSHI_DC,NESTED_LOGIT_MODEL,0.263(12),0.375(5),0.492(14),0.601(11),0.671(13),0.736(24)
7,SUSHI_DC,PAIRED_COMBINATORIAL_LOGIT,0.269(6),0.387(6),0.500(12),0.595(18),0.676(10),0.785(6)
8,SUSHI_DC,RANKNET_DC_SHALLOW,0.269(13),0.436(20),0.555(25),0.661(14),0.758(21),0.831(20)
9,SUSHI_DC,RANKSVM_DC,0.258(4),0.372(7),0.480(22),0.594(17),0.679(13),0.779(6)

In [11]:
import re
def remove_ranker(sub_df):
    remove_ranker = None
    print(sub_df)
    if len(sub_df)==2:
        sub_df = sub_df[:,0:2]
        val1 = [float(x) for x in re.findall(r"[-+]?\d*\.\d+|\d+", sub_df[0][1])]
        val2 = [float(x) for x in re.findall(r"[-+]?\d*\.\d+|\d+", sub_df[1][1])]
        val1 = val1[0] if len(val1)==1 else val1[0] - val1[1]*1e-3
        val2 = val2[0] if len(val2)==1 else val2[0] - val2[1]*1e-3
        if val1 < val2 :
            remove_ranker = sub_df[0][0]
        else:
            remove_ranker = sub_df[1][0]
    return remove_ranker

In [12]:
#from tabulate import tabulate
grouped = df.groupby(['dataset'])
for name, group in grouped:
    custom_dict = {"RANKSVM_DC":0, "RANKNET_DC":1, 'MULTINOMIAL_LOGIT_MODEL':2, 'NESTED_LOGIT_MODEL':3, 'GENERALIZED_EXTREME_VALUE':4, 
                   'PAIRED_COMBINATORIAL_LOGIT':5, "MIXED_LOGIT_MODEL":6, "FATE_DC":7, "FETA_DC":8, "FETA_DC_ZERO":9}
    group['rank'] = group['learner'].map(custom_dict)
    group.sort_values(by='rank', inplace=True)
    del group["dataset"]
    del group['rank']
    remove_rankers = []
    sub_df = group[group['learner'].str.contains("FETA")].as_matrix()
    r1 = remove_ranker(sub_df)
    sub_df = group[group['learner'].str.contains("FATE")].as_matrix()
    r2 = remove_ranker(sub_df)
    remove_rankers.append(r1)
    remove_rankers.append(r2)
    
    group = group[~group['learner'].isin(remove_rankers)]
    if len(group)==9:
        group['learner'] = ["pariwisesvm", "ranknetdc", "mnl", "nlm", "gev", "pcl", "mlm", "fate", "feta"]
    print("name {}".format(name))
    print(list(group.columns))
    latex_code = group.to_latex(index = False)
    latex_code = latex_code.replace(' ',"")
    latex_code = latex_code.replace('&'," & ")
    print(latex_code)
#df.T.to_latex()

[]
[['FATE_DC' '0.231(12)' '0.368(19)' '0.477(24)' '0.574(30)' '0.656(40)'
  '0.735(44)']
 ['FATE_DC_SHALLOW' '0.2172' '0.3366' '0.4558' '0.5591' '0.6493' '0.7331']]
name Y_2007_N_10
['learner', 'categoricalaccuracy', 'categoricaltopk2', 'categoricaltopk3', 'categoricaltopk4', 'categoricaltopk5', 'categoricaltopk6']
\begin{tabular}{lllllll}
\toprule
learner & categoricalaccuracy & categoricaltopk2 & categoricaltopk3 & categoricaltopk4 & categoricaltopk5 & categoricaltopk6\\
\midrule
RANKSVM\_DC & 0.298(14) & 0.446(17) & 0.566(12) & 0.666(6) & 0.751(3) & 0.821(5)\\
RANKNET\_DC & 0.2214 & 0.3671 & 0.4831 & 0.5869 & 0.6803 & 0.7690\\
MULTINOMIAL\_LOGIT\_MODEL & 0.287(16) & 0.442(15) & 0.566(14) & 0.668(11) & 0.753(8) & 0.818(8)\\
NESTED\_LOGIT\_MODEL & 0.301(21) & 0.458(18) & 0.576(17) & 0.677(12) & 0.758(14) & 0.822(10)\\
GENERALIZED\_EXTREME\_VALUE & 0.295(20) & 0.449(19) & 0.566(15) & 0.667(11) & 0.752(7) & 0.815(8)\\
PAIRED\_COMBINATORIAL\_LOGIT & 0.290(20) & 0.442(18) & 0.564(17) & 0.668(12) & 0.750(7) & 0.819(6)\\
MIXED\_LOGIT\_MODEL & 0.246(16) & 0.380(20) & 0.492(18) & 0.588(18) & 0.679(19) & 0.762(15)\\
FATE\_DC & 0.231(12) & 0.368(19) & 0.477(24) & 0.574(30) & 0.656(40) & 0.735(44)\\
\bottomrule
\end{tabular}

[['FETA_DC_ZERO' '0.344(114)' '0.558(138)' '0.732(119)' '0.874(75)'
  '1.000(0)' '1.000(0)']]
[['FATE_DC' '0.348(13)' '0.575(7)' '0.747(3)' '0.886(6)' '1.000(0)'
  '1.000(0)']
 ['FATE_DC_SHALLOW' '0.417(9)' '0.635(12)' '0.796(11)' '0.910(7)'
  '1.000(0)' '1.000(0)']]
name Y_2007_N_5
['learner', 'categoricalaccuracy', 'categoricaltopk2', 'categoricaltopk3', 'categoricaltopk4', 'categoricaltopk5', 'categoricaltopk6']
\begin{tabular}{lllllll}
\toprule
learner & categoricalaccuracy & categoricaltopk2 & categoricaltopk3 & categoricaltopk4 & categoricaltopk5 & categoricaltopk6\\
\midrule
RANKSVM\_DC & 0.427(13) & 0.651(5) & 0.807(3) & 0.916(6) & 1.000(0) & 1.000(0)\\
MULTINOMIAL\_LOGIT\_MODEL & 0.420(18) & 0.646(13) & 0.801(7) & 0.913(4) & 1.000(0) & 1.000(0)\\
NESTED\_LOGIT\_MODEL & 0.429(11) & 0.654(6) & 0.807(4) & 0.918(4) & 1.000(0) & 1.000(0)\\
GENERALIZED\_EXTREME\_VALUE & 0.428(14) & 0.658(5) & 0.812(4) & 0.918(5) & 1.000(0) & 1.000(0)\\
PAIRED\_COMBINATORIAL\_LOGIT & 0.429(15) & 0.653(6) & 0.804(6) & 0.915(5) & 1.000(0) & 1.000(0)\\
MIXED\_LOGIT\_MODEL & 0.428(10) & 0.650(5) & 0.801(8) & 0.913(8) & 1.000(0) & 1.000(0)\\
FETA\_DC\_ZERO & 0.344(114) & 0.558(138) & 0.732(119) & 0.874(75) & 1.000(0) & 1.000(0)\\
FATE\_DC\_SHALLOW & 0.417(9) & 0.635(12) & 0.796(11) & 0.910(7) & 1.000(0) & 1.000(0)\\
\bottomrule
\end{tabular}

[['FETA_DC_ZERO' '0.363(49)' '0.549(44)' '0.674(40)' '0.772(24)'
  '0.845(18)' '0.906(15)']]
[['FATE_DC' '0.384(33)' '0.543(21)' '0.666(27)' '0.772(25)' '0.859(23)'
  '0.911(21)']
 ['FATE_DC_SHALLOW' '0.384(37)' '0.554(41)' '0.683(42)' '0.783(33)'
  '0.862(25)' '0.911(26)']]
name Y_2008_N_10
['learner', 'categoricalaccuracy', 'categoricaltopk2', 'categoricaltopk3', 'categoricaltopk4', 'categoricaltopk5', 'categoricaltopk6']
\begin{tabular}{lllllll}
\toprule
learner & categoricalaccuracy & categoricaltopk2 & categoricaltopk3 & categoricaltopk4 & categoricaltopk5 & categoricaltopk6\\
\midrule
pariwisesvm & 0.428(17) & 0.610(34) & 0.741(41) & 0.818(31) & 0.879(29) & 0.926(21)\\
ranknetdc & 0.281(50) & 0.451(77) & 0.583(83) & 0.681(85) & 0.763(77) & 0.835(70)\\
mnl & 0.429(40) & 0.600(28) & 0.725(33) & 0.812(25) & 0.875(20) & 0.926(17)\\
nlm & 0.415(28) & 0.596(28) & 0.723(30) & 0.801(31) & 0.866(24) & 0.915(21)\\
gev & 0.413(30) & 0.591(29) & 0.720(27) & 0.805(18) & 0.874(20) & 0.923(16)\\
pcl & 0.412(30) & 0.599(29) & 0.726(30) & 0.802(23) & 0.873(24) & 0.921(19)\\
mlm & 0.428(37) & 0.602(35) & 0.714(49) & 0.801(38) & 0.858(36) & 0.908(21)\\
fate & 0.384(33) & 0.543(21) & 0.666(27) & 0.772(25) & 0.859(23) & 0.911(21)\\
feta & 0.363(49) & 0.549(44) & 0.674(40) & 0.772(24) & 0.845(18) & 0.906(15)\\
\bottomrule
\end{tabular}

[['FETA_DC_ZERO' '0.533(41)' '0.770(34)' '0.903(23)' '0.963(15)'
  '1.000(0)' '1.000(0)']]
[['FATE_DC' '0.509(83)' '0.743(71)' '0.887(36)' '0.959(12)' '1.000(0)'
  '1.000(0)']
 ['FATE_DC_SHALLOW' '0.562(34)' '0.776(32)' '0.903(22)' '0.965(12)'
  '1.000(0)' '1.000(0)']]
name Y_2008_N_5
['learner', 'categoricalaccuracy', 'categoricaltopk2', 'categoricaltopk3', 'categoricaltopk4', 'categoricaltopk5', 'categoricaltopk6']
\begin{tabular}{lllllll}
\toprule
learner & categoricalaccuracy & categoricaltopk2 & categoricaltopk3 & categoricaltopk4 & categoricaltopk5 & categoricaltopk6\\
\midrule
pariwisesvm & 0.569(46) & 0.786(30) & 0.908(23) & 0.969(11) & 1.000(0) & 1.000(0)\\
ranknetdc & 0.458(28) & 0.683(27) & 0.842(25) & 0.936(15) & 1.000(0) & 1.000(0)\\
mnl & 0.568(26) & 0.788(20) & 0.904(14) & 0.967(8) & 1.000(0) & 1.000(0)\\
nlm & 0.566(34) & 0.790(30) & 0.911(24) & 0.969(9) & 1.000(0) & 1.000(0)\\
gev & 0.568(21) & 0.786(23) & 0.910(21) & 0.968(10) & 1.000(0) & 1.000(0)\\
pcl & 0.566(19) & 0.783(12) & 0.903(13) & 0.966(8) & 1.000(0) & 1.000(0)\\
mlm & 0.572(25) & 0.781(24) & 0.902(17) & 0.963(11) & 1.000(0) & 1.000(0)\\
fate & 0.533(41) & 0.770(34) & 0.903(23) & 0.963(15) & 1.000(0) & 1.000(0)\\
feta & 0.562(34) & 0.776(32) & 0.903(22) & 0.965(12) & 1.000(0) & 1.000(0)\\
\bottomrule
\end{tabular}

In [17]:
df_path = os.path.join(DIR_PATH, 'results' , "discrete_choice.csv")

if not os.path.isfile(df_path):
    dataFrame = df
else:
    dataFrame = pd.read_csv(df_path, index_col=0)
    dataFrame = dataFrame.append(df, ignore_index=True)
dataFrame
dataFrame.to_csv(df_path)

In [30]:
grouped = df.groupby(['dataset'])
for name, group in grouped:
    df_path = os.path.join(DIR_PATH, 'results' , name.lower()+'.csv')
    group.to_csv(df_path)

In [31]:
import numpy as np
np.arange(48,87)

X_train = np.arange(40).reshape(4,5,2)

learner_params = {}
learner_params['n_objects'], learner_params['n_object_features'] = X_train.shape[1:]

from datetime import datetime
self.schema = 'pymc3'
avail_jobs = "{}.avail_jobs".format(self.schema)
running_jobs = "{}.running_jobs".format(self.schema)
fold_id = 1
cluster_id=1234
self.fetch_job_arguments(cluster_id=cluster_id)
self.init_connection(cursor_factory=None)
job_desc = dict(self.job_description)
job_desc['fold_id'] = fold_id
job_id = job_desc['job_id']
del job_desc['job_id']
learner, dataset, dataset_type = job_desc['learner'],  job_desc['dataset'], job_desc['dataset_params']['dataset_type']
select_job = "SELECT job_id from {} where fold_id = {} AND learner = \'{}\' AND dataset = \'{}\' AND dataset_params->>'dataset_type' = \'{}\'".format(
    avail_jobs, fold_id, learner, dataset, dataset_type)
self.cursor_db.execute(select_job)

if self.cursor_db.rowcount == 0:
    keys = list(job_desc.keys())
    columns = ', '.join(keys)
    index = keys.index('fold_id')
    keys[index] = str(fold_id)
    values_str = ', '.join(keys)
    insert_job = "INSERT INTO {0} ({1}) SELECT {2} FROM {0} where {0}.job_id = {3} RETURNING job_id".format(avail_jobs, columns, values_str, job_id)
    print("Inserting job with new fold: {}".format(insert_job))
    self.cursor_db.execute(insert_job)    
job_id = self.cursor_db.fetchone()[0]
print("Job {} with fold id {} updated/inserted".format(fold_id, job_id))
start = datetime.now()
update_job = """UPDATE {} set job_allocated_time = %s WHERE job_id = %s""".format(avail_jobs)
self.cursor_db.execute(update_job, (start, job_id))
select_job = """SELECT * FROM {0} WHERE {0}.job_id = {1} AND {0}.interrupted = {2} FOR UPDATE""".format(
    running_jobs, job_id, True)
self.cursor_db.execute(select_job)
count_ = len(self.cursor_db.fetchall())
if count_ == 0:
    insert_job = """INSERT INTO {0} (job_id, cluster_id ,finished, interrupted) 
                    VALUES ({1}, {2},FALSE, FALSE)""".format(running_jobs, job_id, cluster_id)
    self.cursor_db.execute(insert_job)
    if self.cursor_db.rowcount == 1:
        print("The job {} is updated in runnung jobs".format(job_id))
else:
    print("Job with job_id {} present in the updating and row locked".format(job_id))
    update_job = """UPDATE {} set cluster_id = %s, interrupted = %s WHERE job_id = %s""".format(
        running_jobs)
    self.cursor_db.execute(update_job, (cluster_id, 'FALSE', job_id))
    if self.cursor_db.rowcount == 1:
        print("The job {} is updated in runnung jobs".format(job_id))
self.close_connection()

In [57]:
"UNIQUE_MAX_OCCURRING".lower()

'unique_max_occurring'